@font-face {
    font-family: Casanova;
    src: url(../fonts/CasanovaScotia.otf);
}

html {
    background: url(../images/space.png) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Casanova;
    text-align: center;
    color: white;
}

#lat,
#lon {
    color: greenyellow;
}

#map {
    margin: auto;
    width: 100%;
    height: 50vh;
    opacity: 0.9;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    #map {
        margin: auto;
        width: 65%;
        height: 75vh;
    }
}